.header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-section {
    height: 100%;
    display: flex;
    align-items: center;

    .profile-picture {
      width: 55px;
      height: 55px;
      margin-left: 17.5px;
      margin-right: 17.5px;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .input {
      margin-left: 30px;
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    margin-right: 17.5px;

    button {
      margin-left: 10px;

      .icon {
        font-size: 28px;
      }
    }
  }
}
