.dialog-invoices {
  .progress {
    height: 7.5px;
  }

  .content {
    .title {
      margin-bottom: 20px;
    }

    .basic-data {
      .button {
        margin-top: 20px;
        text-transform: unset;

        svg {
          margin-left: 7.5px;
        }
      }
    }

    .customer-form {
      .buttons {
        margin-top: 15px;

        button {
          width: 48%;
        }
      }
    }
  }
}

.add-invoice-customer-dialog {
  width: 364px;
  padding: 16px;

  .title {
    text-align: center;
  }

  .data {
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
      font-weight: 500;
      margin-left: 25px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    button {
      width: 48%;

      .progress {
        margin-top: 5px;
      }
    }
  }
}
