.invoice-month {
  font-size: 20px;
  font-weight: 500;
}

.invoices-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 375px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-auto-rows: 250px;
  grid-gap: 20px;

  .month {
    text-transform: capitalize;
  }

  .invoice {
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.15s ease-in;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-elements {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .element {
        .customer {
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .number {
          font-weight: 300;
        }
      }

      button {
        margin-top: -12px;
        margin-right: -12px;
        margin-left: 12px;
      }
    }

    .bottom-elements {
      .element {
        margin-top: 10px;
        display: flex;
        align-items: center;

        span {
          margin-left: 10px;
          font-weight: 400;
        }
      }
    }

    &.disabled {
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.05, 1.05);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.menu-invoice {
  .delete {
    color: $error;
  }
}
