@mixin grid-element($col-start, $col-end, $row-start, $row-end) {
  grid-column-start: $col-start;
  grid-column-end: $col-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
  border-radius: 20px;
}

%action {
  display: flex;
  justify-content: center;
  align-items: center;

  .action {
    div {
      display: flex;
      justify-content: center;

      .icon {
        font-size: 32px;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.dashboard {
  display: grid;
  width: calc(100% - 130px);
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: 50px repeat(4, 150px);
  grid-gap: 20px;

  .title {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .quick-actions {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    grid-column-start: 7;
    grid-column-end: 9;
  }

  .chart {
    @include grid-element(1, 7, 2, 4);
  }

  .action1 {
    @include grid-element(7, 8, 2, 3);
    @extend %action;
  }

  .action2 {
    @include grid-element(8, 9, 2, 3);
    @extend %action;
  }

  .action3 {
    @include grid-element(7, 8, 3, 4);
    @extend %action;
  }

  .action4 {
    @include grid-element(8, 9, 3, 4);
    @extend %action;
  }

  .expenses {
    @include grid-element(1, 5, 4, 6);
  }

  .incomes {
    @include grid-element(5, 9, 4, 6);
  }
}
